@import "../../../../stylings/custom-variables.scss";
@import "../../../../stylings/custom-styling.scss";


.icon {
  font-size: 20px;
  color: #333;
  margin-right: 8px;
  cursor: help !important;
}

.header-title {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-right: 8px;
}



.link-text {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}



.summary {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  text-align: left;
}

.summary-icon {
  font-size: 40px;
  color: #007bff;
  margin-right: 16px;
}

.summary-text {
  flex: 1;
}

.summary-title {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin-bottom: 8px;
}

.summary p {
  margin: 0;
  font-size: 14px;
  color: #000;
}

/* Quellenhinweis */
.reference {
  font-size: 12px;
  color: #555;
  text-align: left;
}

.pdf-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.row div {
  margin: 0rem 1rem;
}
::ng-deep {
  .tooltip-style {
    white-space: pre-line;
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }
}

.source-link{
  color: #007bff;
  cursor: pointer;
}