.disclaimer {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    padding: 30vh 20vw;
    text-align: center;
    color: black !important;
  }
  