<div class="row">
  <div class="col-lg-2 col-xl-3"></div>
  <div class="col-sx-12 col-sm-12 col-md-8 col-lg-8 col-xl-6">
    <div class="column">
      <h1>Suchverlauf</h1>
      <div class="row">
        <ng-container *ngFor="let entry of searchHistory">
          <div class="search-entry" (click)="onQuestionClick(entry.user_question, !!entry.detail)">
            <div class="question">{{ entry.user_question }}</div>
            <div class="detail">
              {{ entry.detail ? 'detaillierte Antwort' : 'kurze Antwort' }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-xl-3"></div>
</div>
