<div style="margin: 5% 2%;">
  <div class="row">
    <div class="col-lg-2 col-xl-2 col-md-1 col-sx-0 col-sm-0"></div>

    <div class="col-lg-8 col-xl-8 col-md-10 col-sx-12 col-sm-12">
      <h1>Share Feedback</h1>
      <p>
        Help us make your experience better and share your feedback with us!
      </p>
      <form class="example-form">
        <mat-form-field style="width:100%">
          <mat-label>Subject</mat-label>
          <input matInput placeholder="Summarize your feedback item in a few words"/>
        </mat-form-field>

        <mat-form-field style="width:100%">
          <mat-label>Comment</mat-label>
          <textarea matInput placeholder="Please add a detailed description, including steps you took before finding the issue, or how this idea would help improve the experience for you and other users."></textarea>
        </mat-form-field>

        <mat-form-field style="width:100%">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="name@company.com"/>
        </mat-form-field>

      </form>
    </div>

    <div class="col-lg-2 col-xl-2 col-md-1 col-sx-0 col-sm-0"></div>
  </div>
  <div style="text-align:end;">
    <button color="primary" mat-raised-button class="col-lg-5 col-xl-5 col-md-5 col-sx-12 col-sm-12 mat-button-alone button-modal"> Cancel</button>
    <button color="primary" mat-raised-button class="col-lg-5 col-xl-5 col-md-5 col-sx-12 col-sm-12 mat-button-alone button-modal"> Clear</button>
    <button color="primary" mat-flat-button class="col-lg-5 col-xl-5 col-md-5 col-sx-12 col-sm-12 mat-button-alone button-modal"> Submit</button>
    
  </div>
</div>
