<div class="gray-background"></div>

<div *ngIf="this.tutorial.steps[this.currentStep].view == View.HOME">
  <app-home></app-home>
</div>

<div *ngIf="this.tutorial.steps[this.currentStep].view == View.ANSWER">
  <app-home [showResponse]="true" [selectedQuestion]="this.getDummyData().user_question" [currentResponse]="this.getDummyData()" [currentReferences]="this.getDummyData().references"></app-home>
</div>

<div *ngIf="this.tutorial.steps[this.currentStep].view == View.HISTORY">
  <app-search-history></app-search-history>
</div>

<!--<div *ngIf="this.tutorial.steps[this.currentStep].view == View.SOURCE">
  <app-source-modal [sources]="this.getDummyData().references[0].sources" []></app-source-modal>
</div>-->

<div class="description">
  <mat-progress-bar
    mode="determinate"
    [value]="this.currentProgress"
    style="width: 100vw"
  ></mat-progress-bar>

  <div class="description-content">
    <div class="row" style="vertical-align: middle; line-height: 20vh">
      <div
        class="col-lg-4 col-lm-4 col-md-5 col-sm-7 col-sx-8 tutorial-text-box"
      >
        <span class="tutorial-text">{{ this.tutorial.steps[this.currentStep].Text }}</span>
      </div>

      <div class="tutorial-text-box">
        <div style="display: inline-block; vertical-align: middle; line-height: normal;">

          <div class="button-container">
            <button color="accent" mat-flat-button (click)="this.prevStep()" [disabled]="this.currentStep<=0">
              Zurück
            </button>

            <button color="accent" mat-flat-button (click)="this.nextStep()">
              Verstanden!
            </button>

            <button
              color="primary"
              mat-stroked-button
              (click)="this.endTutorial()"
            >
              Tutorial Beenden
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
