<div class="row">
  <div class="col-lg-2 col-xl-3"></div>
  <div class="col-sx-12 col-sm-12 col-md-8 col-lg-8 col-xl-6">
    <div class="column-center">
      <img
        src="/img/Paula__6_.svg"
        style="width: 250px"
        class="img-responsive"
      />
      <div class="row">
        <div class="column bracket-border-left"></div>

        <!-- Folgender Teil wird angezeigt um eine Frage zu stellen-->
        <div class="column" *ngIf="!this.showResponse">
          <mat-form-field
            appearance="outline"
            appearance="fill"
            style="width: 100%; margin-top: 1rem; padding-right: 1rem"
          >
            <mat-label>Frage eingeben oder auswählen</mat-label>
            <!-- Suchfeld für benutzerdefinierte Fragen -->
            <input
              type="text"
              matInput
              placeholder="Frage eingeben..."
              [(ngModel)]="selectedQuestion"
            />
            <!-- Dropdown-Icon für die Auswahl der Beispielfragen -->
            <button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <!-- Menü für Beispielfragen -->
            <mat-menu
              #menu="matMenu"
              yPosition="below"
              xPosition="before"
              [overlapTrigger]="false"
            >
              <button
                mat-menu-item
                *ngFor="let question of this.getExampleQuestions()"
                (click)="selectExampleQuestion(question)"
                class="wide-menu-item"
              >
                {{ question }}
              </button>
            </mat-menu>
          </mat-form-field>

          <div clas="row">
            <ng-container *ngFor="let button of leitlinien; let i = index">
              <button
                color="primary"
                mat-stroked-button
                class="col-lg-5 col-xl-5 col-md-5 col-sx-12 col-sm-12 mat-button-alone"
                style="width: 100%; margin: 0% 1%"
                [class.button-selected]="selectedLeitlinie == i"
                (click)="selectedLeitlinie = i"
              >
                {{ button }}
              </button>
            </ng-container>
          </div>
          <div class="row" style="margin-top: 1rem">
            <div class="toggle-container col-12">
              <span>einfache Sprache</span>
              <mat-slide-toggle
                [(ngModel)]="useComplexLanguage"
                color="primary"
                sytel="width:auto"
              ></mat-slide-toggle>
              <span>detaillierte Antwort</span>
            </div>
          </div>
          <div class="row">
            <button
              color="primary"
              mat-flat-button
              class="col-lg-5 col-xl-5 col-md-5 col-sx-12 col-sm-12 mat-button-alone"
              style="width: 100%"
              (click)="this.sendRequest()"
            >
              Anfrage senden
            </button>
          </div>
          <!--Info Text unter der Suchleiste-->
          <div *ngIf="!this.showResponse">
            <p>
              Für die Generierung der Antworten nutzen wir Künstliche
              Intelligenz (KI). Trotz größter Sorgfalt beim Einsatz der KI kann
              es zu ungenauen oder fehlerhaften Antworten kommen. Versichern Sie
              sich bitte immer in der Leitlinie. Wir haben Verlinkungen zu den
              entsprechenden Inhalten in den Empfehlungsboxen unterhalb der
              Antwort eingefügt.<br />
              <b>
                Aus Sicherheitsgründen werden in dieser Demo-Version des
                Prototypen die zuvor generierten Antworten, zu den oben
                verfügbaren Beispielfragen, aus einer Datenbank geladen und
                nicht in Echtzeit generiert
              </b>
            </p>
          </div>
        </div>

        <!-- Folgender Teil wird angezeigt wenn eine Frage gestellt wurde-->
        <div class="column" *ngIf="this.showResponse">
          <mat-card class="main-card">
            <mat-card-header class="card-header"> KI-Antwort </mat-card-header>

            <mat-card-content class="content">
              {{ this.currentResponse.generated_answer }}
              <br />
              <ul>
                <li *ngFor="let ref of this.currentResponse.references">
                  {{ ref.reference_text }} ({{ ref.reference_id }})
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="column bracket-border-right"></div>
      </div>

      <!--Antwort Part-->
      <div *ngIf="this.showResponse" class="row" style="margin-top: 1rem">
        <div class="col-12">
          <app-details-tab
            *ngFor="let reference of this.currentResponse.references"
            [refernce]="reference"
          ></app-details-tab>
        </div>
      </div>
      <!--Abschlusstext-->
      <div>
        <p>
          Die hier aufbereiteten Leitlinien wurden bereitgestellt durch das ÄZQ
          und sind auch unter https://leitlinien.de abrufbar.
        </p>
        <p>
          Ein Kooperationsprojekt der Alice Salomon Hochschule Berlin und der
          Hochschule für Technik und Wirtschaft Berlin.

          <br />
          Das Projekt wird finanziert durch Mittel des Institut für angewandte
          Forschung Berlin.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-xl-3"></div>
</div>
