@import "../../../stylings/custom-variables.scss";


.bracket-border-left {
  border-top: 5px solid #201e50;
  border-left: 5px solid #201e50;
  border-bottom: 5px solid #201e50;
  border-right: none;
  border-radius: 5px;
  max-width: 0px;
  margin: 0px;
}
.bracket-border-right {
  border-top: 5px solid #201e50;
  border-right: 5px solid #201e50;
  border-bottom: 5px solid #201e50;
  border-left: none;
  border-radius: 5px;
  max-width: 0px;
  margin: 0px;
}

.ki-response-card {
  width: 100%;
  margin: 20px auto;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: lighten($brand-primary, 0%);
  color: white;
}
.header {
  font-weight: 500;
  font-size: larger;
  margin: 0.5rem 0rem 1rem 0rem;
}
.content {
  text-align: left;
}
.question {
  margin: 1rem 0rem;
  font-weight: 500;
  font-size: larger;
}
.filter-card {
  padding-left: 2rem;
}
.selected-filter {
  font-weight: bold;
}
.filter-element {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-element span{
  box-sizing: border-box;
  margin-right: 1rem;
}
.placeholder-icon {
  visibility: hidden; 
}

.inputFilter {
  border: 1px solid #fffffc;
  color: #0a1325;
  background-color: #fffffc;
  height: auto;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.428;
  min-width: 50px;
  padding: 8px 8px;
  box-sizing: border-box;
}
.language-select {
  text-align: center; 
  display: flex;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.question-dropdown {
  white-space: nowrap !important;
}
::ng-deep .mat-mdc-menu-panel {
  max-width: none !important;
}
.question-icon {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
}
