@import "stylings/custom-theme.scss";
@import "stylings/custom-styling.scss";

.bracket-border-left {
  border-top: 5px solid #201e50;
  border-left: 5px solid #201e50;
  border-bottom: 5px solid #201e50;
  border-right: none;
  border-radius: 5px;
  margin-top: 5%;
}
.bracket-border-right {
  border-top: 5px solid #201e50;
  border-right: 5px solid #201e50;
  border-bottom: 5px solid #201e50;
  border-left: none;
  border-radius: 5px;
}

.bracket-border-left2 {
  border-top: 5px solid #fffffc;
  border-left: 5px solid #fffffc;
  border-bottom: 5px solid #fffffc;
  border-right: none;
  border-radius: 5px;
}
.bracket-border-right2 {
  border-top: 5px solid #fffffc;
  border-right: 5px solid #fffffc;
  border-bottom: 5px solid #fffffc;
  border-left: none;
  border-radius: 5px;
}

.empty-option-delete {
  //removes an option in the subject selector.
  select {
    option[value=""] {
      display: none;
    }
  }
}

/* Button-Styling */
.button-leitlinie {
  background-color: $bg-color-secondary; /*#6360C1;  Standard-Hintergrundfarbe */
  color: $brand-primary; /* Schriftfarbe */
  padding: 10px 20px; /* Abstand um den Text herum */
  border: none; /* Keine Rahmen */
  cursor: pointer; /* Zeiger bei Mouseover */
  transition: background-color 0.3s; /* Übergangseffekt für die Hintergrundfarbe */
  font-weight: bold; /* Fetter Text */
}

/* Stiländerung beim Klicken */
.button-leitlinie:active {
  background-color: #201e50; /* Hintergrundfarbe beim Klicken */
  font-weight: bold; /* Fetter Text */
}

.button-passive {
  background-color: mix(
    $brand-danger,
    $brand-primary,
    50%
  ); /*#6360C1;  Standard-Hintergrundfarbe */
  color: $brand-primary; /* Schriftfarbe */
  padding: 10px 20px; /* Abstand um den Text herum */
  border: none; /* Keine Rahmen */
  cursor: pointer; /* Zeiger bei Mouseover */
  transition: background-color 0.3s; /* Übergangseffekt für die Hintergrundfarbe */
}

/* Stiländerung beim Klicken */
.button-passive:hover {
  background-color: mix(
    $brand-danger,
    $brand-primary,
    50%
  ); /* Hintergrundfarbe beim Klicken */
}

.button-passive:active {
  background-color: mix(
    $brand-danger,
    $brand-primary,
    50%
  ); /* Hintergrundfarbe beim Klicken */
}

.verticalcenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  display: table;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-details {
  max-width: none !important;
  max-height: none !important;
  width: auto !important;
  height: auto !important;

  @media (max-width: 600px) {
    // Für Smartphones
    min-width: 200px !important;
    max-width: 90vw !important;
    //width: 90vw !important;
    //height: 80vh !important; // 80% der Bildschirmhöhe
  }

  @media (min-width: 601px) and (max-width: 960px) {
    // Für Tablets
    min-width: 250px !important;
    max-width: 85vw !important;
    //height: 60vh !important; // 60% der Bildschirmhöhe
  }

  @media (min-width: 961px) and (max-width: 1199) {
    // Für größere Bildschirme
    min-width: 300px !important; // Passe die Formel nach deinem Geschmack an
    max-width: 80vw !important;
    //height: 50vh !important; // Auch hier kann die Höhe angepasst werden
  }

  @media (min-width: 1200px) {
    // Für größere Bildschirme
    min-width: 400px !important; // Passe die Formel nach deinem Geschmack an
    max-width: 70vw !important;
    //height: 50vh !important; // Auch hier kann die Höhe angepasst werden
  }
}