@import "stylings/custom-variables.scss";
@import "stylings/custom-theme.scss";

.bracket-border-left {
  border-top: 5px solid #201e50;
  border-left: 5px solid #201e50;
  border-bottom: 5px solid #201e50;
  border-right: none;
  border-radius: 5px;
  margin-top: 5%;
}
.bracket-border-right {
  border-top: 5px solid #201e50;
  border-right: 5px solid #201e50;
  border-bottom: 5px solid #201e50;
  border-left: none;
  border-radius: 5px;
}

.bracket-border-left2 {
  border-top: 5px solid #fffffc;
  border-left: 5px solid #fffffc;
  border-bottom: 5px solid #fffffc;
  border-right: none;
  border-radius: 5px;
}
.bracket-border-right2 {
  border-top: 5px solid #fffffc;
  border-right: 5px solid #fffffc;
  border-bottom: 5px solid #fffffc;
  border-left: none;
  border-radius: 5px;
}

.empty-option-delete {
  //removes an option in the subject selector.
  select {
    option[value=""] {
      display: none;
    }
  }
}

/* Button-Styling */
.button-leitlinie {
  background-color: $bg-color-secondary; /*#6360C1;  Standard-Hintergrundfarbe */
  color: $brand-primary; /* Schriftfarbe */
  padding: 10px 20px; /* Abstand um den Text herum */
  border: none; /* Keine Rahmen */
  cursor: pointer; /* Zeiger bei Mouseover */
  transition: background-color 0.3s; /* Übergangseffekt für die Hintergrundfarbe */
  font-weight: bold; /* Fetter Text */
}

/* Stiländerung beim Klicken */
.button-leitlinie:active {
  background-color: #201e50; /* Hintergrundfarbe beim Klicken */
  font-weight: bold; /* Fetter Text */
}

.button-passive {
  background-color: mix(
    $brand-danger,
    $brand-primary,
    50%
  ); /*#6360C1;  Standard-Hintergrundfarbe */
  color: $brand-primary; /* Schriftfarbe */
  padding: 10px 20px; /* Abstand um den Text herum */
  border: none; /* Keine Rahmen */
  cursor: pointer; /* Zeiger bei Mouseover */
  transition: background-color 0.3s; /* Übergangseffekt für die Hintergrundfarbe */
}

/* Stiländerung beim Klicken */
.button-passive:hover {
  background-color: mix(
    $brand-danger,
    $brand-primary,
    50%
  ); /* Hintergrundfarbe beim Klicken */
}

.button-passive:active {
  background-color: mix(
    $brand-danger,
    $brand-primary,
    50%
  ); /* Hintergrundfarbe beim Klicken */
}

.verticalcenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  display: table;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}